.button_page {
    text-align: center;
    padding: 50px;
    gap: var(--gap-big);
    padding-top: 100px;
    background-color: var(--primary-color);
}

.button_title {
    margin: 0 auto;
}

.button_title h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 25.8px;
    padding-bottom: var(--gap-big);
    color: #1D1C31;
    padding-top: var(--gap-big);
    letter-spacing: -2%;

}

.button_title  p {

    width: 80%;
    max-width: 600px;
    text-align: left;
    color: var(--secondary-color);

    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    margin: 0 auto;
}

.button_body {
    gap: 30px;
    width: 85%;
    max-width: 90%;
    margin: 0 auto;
    justify-content: center;

}

.button_boxes {
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    gap: 10px;
    max-width: 400px;
    padding: 0 20px;
    box-shadow: 0px 5px 10px 0px var(--secondary-color);
    background-color: rgba(46, 204, 113, 0.06);
    border-radius: 10px;
}



.button_boxes h3 {
    font-size: 16px;
    font-weight: 500;
}


.button_boxes > .services_read-more {
    margin-bottom: 10px;

}

@media only screen and (max-width: 479px) {
    .button_page {
    padding: 20px 5px;
    
    }
    .button_body {
        flex-direction: column;
    
    
    }
    
    .button_boxes img {
        width: 110%;
        max-width: 350px;
        height: 250px;
        align-self: center;
        padding: 5px;
    }
    
    }
    
    @media only screen and (min-width: 480px ) and ( max-width:960px) {
    
    } 
    
    @media only screen and (min-width: 961px){
        .button_page {
            padding: 50px;
            height: 100vh;
            padding-top: 100px;
    
    
        }
        .button_boxes img {
            width: 400px;
            height: 250px;
            align-self: center;
            padding: 5px;
        }
    }