.button_page {
    text-align: center;
    height: 100vh;
    padding: 50px;
    gap: var(--gap-big);
    /* border: 1px solid rgb(236, 165, 165); */
    padding-top: 100px;
    background-color: var(--primary-color);
}

.button_title {
    margin: 0 auto;
}

.button_title h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 25.8px;
    padding-bottom: var(--gap-big);
    color: #1D1C31;
    padding-top: var(--gap-big);
    letter-spacing: -2%;

}

.button_title  p {

    max-width: 500px;
    /* padding-bottom: var(--gap-big); */
    color: #1D1C31;
    opacity: 60%;

    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
}

.button_body {
    gap: 30px;
    width: 85%;
    max-width: 90%;
    margin: 0 auto;
    /* padding-top: var(--gap-big); */
    /* border: 2px  solid rgb(13, 190, 13); */
    justify-content: center;

}

.button_boxes {
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    gap: 10px;
    max-width: 400px;
    padding: 0 20px;
    box-shadow: 0px 5px 10px 0px var(--secondary-color);
    background-color: rgba(46, 204, 113, 0.06);
}

.button_boxes img {
    width: 400px;
    height: 250px;
    align-self: center;
    /* border: 2px solid var(--secondary-color); */

    /* border-radius: 50px; */
    padding: 5px;
}

.button_boxes h3 {
    font-size: 16px;
    font-weight: 500;
}
/* .button_boxes p {
    width: 208px;
    font-size: 14px;
    font-weight: 400;
    line-height: 13.9px;
    letter-spacing: 0%;
    color: #1D1C31;
    opacity: 60%;
} */