.faq {
    /* background-color: var(--primary-color); */
    color: #fff;
    padding-top: 100px;
}

.faq_title h2 {
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    color: #1D1C31;

}

.faq-item {
    /* background-color: var(--primary-color); */
    justify-content: center;
    /* width: 60%; */
    margin: auto auto;
}

.faq-body {
    background-color: var(--primary-color);
    /* height: 60vh; */
    border: 1px solid white;
    width: 60%;
    margin: 0 auto;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 400;
    padding: 20px 20px;

}

.question {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.toggle-button {
    background-color: var(--secondary-color);
    padding: 2px 20px;
    border: none;
    border-radius: 10px;
}

.toggle-button:hover {
    color: var(--primary-color);
    background-color: #fff;
}

@media only screen and (max-width: 479px) {
    .faq {
    padding: 20px 5px;
    border: 1px solid var(--secondary-color);
    
    }
    .button_body {
        flex-direction: column;
        justify-content: space-between; 
        align-items: center; 
    
    }
    
    .button_boxes img {
        width: 110%;
        max-width: 350px;
        height: 250px;
        align-self: center;
        padding: 5px;
    }

    .faq-body {
        width: 90%;

    }

   
    .faq-body .question {
        font-size: 16px;
        font-weight: 300;
        padding: 5px;
    }

}
    
    @media only screen and (min-width: 480px ) and ( max-width:960px) {
    
    } 
    
    @media only screen and (min-width: 961px){
        .faq {
            height: 100vh;

    
    
        }
  
        .faq-item {
            padding: 10px 30px;

        }
    }