.hero_container {
    background-color: var(--primary-color);


}

.hero {
    height: 100vh;

    color: rgb(3,3,3);
    margin: 0 auto;

    text-align: center;
    width: 90%;
    justify-content: space-between;

    padding-top: 60px;
}


.hero_title h1 {
    font-size: 50px;
    font-weight: 400;
    /* width: 618px; */
    line-height: 50px;
    letter-spacing: 0;
    max-width: 618px;
    max-height: 241px;
    color: #fff;


}

.hero_text button {
    text-align: center;
    margin: 0 auto;
    /* border: 1px solid green; */
    margin-top: 30px;

}
.hero_text p {
    font-size: 28px;
    font-weight:400;
    /* line-height: inherit;
    max-width: 665px;
    letter-spacing: 0;
    max-height: 165px; */
}

/* .hero_third-p {
    max-width: 408px;
    font-size: 22px;
    font-weight: 400;
    color: #727272;
    line-height: 150%;
    max-height: 99px;
} */

/* .hero_row {
    justify-content: space-between;
    align-items: flex-start;
} */

.hero_left {
    width: 665px;
    justify-content: center;
    align-items: center;

    gap: var(--gap-big);
    /* border: 1px solid green; */

}
.hero_right {
    justify-content: center;
    align-items: center;
    /* border: 1px solid green; */
    position: relative;
    height: 80vh;

}

.data_capturing {
    width: 500px;
    height: 500px;
    padding-top: 60px;
    /* border: 1px solid #fff; */
    /* background-color: #fff; */
}

/* Mobile screen */
@media only screen and (max-width: 479px) {



.hero {
    flex-direction: column;
    font-size: 16px;
    width: 100%;
    padding-top: 55px;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 20px;
}

.hero_title h1 {
    font-size: 1.5rem;
    width: 90%;
    max-width: 350px;
    margin: 60px auto 0 auto;
    text-align: left;
    font-weight: 900;
    line-height: 1.5em;
    padding: 10px 20px;
    border-radius: 20px;

    background-color: rgba(0, 0, 0, 20%);


}
.hero_text {
    justify-content: center;
    align-items: center;
}

.hero_text p {
    color: var(--default-color);    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 600;
    width: 80%;
    max-width: 350px;
    text-align: center;
    background-color: rgba(255, 255, 255, 20%);
    padding: 5px 10px;
    border-radius: 10px;


}

.hero_right {
    position: absolute;
    left: 0px;
    top: 60px;
    z-index: 0;
}

.hero_left {
    position: relative;
    z-index: 1;
    gap: var(--gap-big);
    
}

.data_capturing {
    max-width: 380px;
}
}
  

@media only screen and (min-width: 480px) and (max-width: 960px) {

}