.features {
    text-align: center;
    height: 100vh;
    padding: 50px;
    gap: var(--gap-big);
    /* border: 1px solid rgb(236, 165, 165); */
    padding-top: 100px;
}

.features_title {
    margin: 0 auto;
}
.features_title h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 25.8px;
    padding-top: var(--gap-big);
    padding-bottom: var(--gap-big);
    color: #1D1C31;
    letter-spacing: -2%;

}

.features_title  p {

    max-width: 383px;
    padding-bottom: var(--gap-big);
    color: #1D1C31;
    opacity: 60%;

    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
}
.features_body {
    gap: 30px;
    width: 85%;
    max-width: 90%;
    margin: 0 auto;
    padding-top: var(--gap-big);
    /* border: 2px  solid rgb(13, 190, 13); */
    justify-content: center;

}

.features_boxes {
    justify-content: center;
    align-items: center;
    border: 1px solid #d3d3d3;
    gap: 10px;
    max-width: 342px;
    padding: 30px 20px;
    box-shadow: 0px 5px 10px 0px var(--secondary-color);
    background-color: rgba(46, 204, 113, 0.06);
}

.features_boxes img {
    width: 100px;
    height: 100px;
    align-self: center;
    border: 2px solid var(--secondary-color);

    border-radius: 50%;
    padding: 5px;
}

.features_boxes h3 {
    font-size: 16px;
    font-weight: 500;
}
.features_boxes p {
    width: 208px;
    font-size: 14px;
    font-weight: 400;
    line-height: 13.9px;
    letter-spacing: 0%;
    color: #1D1C31;
    opacity: 60%;
}