.features {
    text-align: center;
    gap: var(--gap-big);
}

.features_title {
    margin: 0 auto;
}
.features_title h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 25.8px;
    padding-top: var(--gap-big);
    padding-bottom: var(--gap-big);
    color: #1D1C31;
    letter-spacing: -2%;

}

.features_title  p {

    width: 80%;
    max-width: 600px;
    text-align: left;
    color: var(--primary-color);
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    margin: 0 auto;
}
.features_body {
    gap: 30px;
    width: 85%;
    max-width: 90%;
    margin: 0 auto;
    padding-top: var(--gap-big);

    justify-content: center;

}

.features_boxes {
    justify-content: center;
    align-items: center;
    border: 1px solid #d3d3d3;
    gap: 10px;
    padding: 30px 20px;
    box-shadow: 0px 5px 10px 0px var(--secondary-color);
    background-color: rgba(46, 204, 113, 0.06);
}

.features_boxes img {
    width: 100px;
    height: 100px;
    align-self: center;
    border: 2px solid var(--secondary-color);

    border-radius: 50%;
    padding: 5px;
}

.features_boxes h3 {
    font-size: 16px;
    font-weight: 500;
}
.features_boxes p {
    width: 208px;
    font-size: 14px;
    font-weight: 400;
    line-height: 13.9px;
    letter-spacing: 0%;
    color: var(--primary-color);
   
}

/* Mobile screen */
@media only screen and (max-width: 479px) {
.features {
padding: 20px 5px;


}
.features_body {
    flex-direction: column;


}



}

@media only screen and (min-width: 480px ) and ( max-width:960px) {

} 

@media only screen and (min-width: 961px){
    .features {
        padding: 50px;
        height: 100vh;
        padding-top: 100px;


    }
}