.navbar {
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    font-weight: 500;
    font-size: 18px;
    color: #000;
    z-index: 2;


}

.logo {
    width: 215px;
    height: 107px;
    cursor: pointer;

}

.nav_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-big);
    padding: 0 30px;

    

}



.login {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 500;
    border: none;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
}
.nav_button {
    display: flex;
    gap: var(--gap-big);
}


  
  /* Mobile Styles */
  @media only screen and (max-width: 479px) {
    body {
      border: 5px solid green;
    }


    .navbar {
      flex-direction: column;
      padding: 0;
      width: 100%;
      max-width: 470px;
      justify-content: center;
      align-items: flex-start;
      height: fit-content;



    }

    .nav_menu li {
      display: none;
    }

    .nav_button {
      display: none;
    }

    .logo {
      align-self: flex-start;
    }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 480px) and (max-width: 960px) {
    body {
      border: 5px solid blue;
    }
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
 

    .navbar {
      padding: 0 3em;

    }
  }