.navbar {
    background-color: #fff;
    justify-content: space-between;
    align-items: center;

    font-weight: 500;
    font-size: 18px;
    color: #000;


}

.logo {
    width: 215px;
    height: 107px;
    cursor: pointer;

}

.nav_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-big);
    padding: 0 30px;

    

}



.login {
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 500;
    border: none;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
}
.nav_button {
    display: flex;
    gap: var(--gap-big);
}



  
  /* Mobile Styles */
  @media only screen and (max-width: 479px) {
    /* * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    } */


    .navbar {
      flex-direction: row;
      padding: 0 20px;
      width: 100%;
 
      justify-content: space-between;
      align-items: center;
      /* height: fit-content; */
      /* border: 1px solid var(--secondary-color); */


    }

    .nav_menu li {
      display: none;
    }

    .nav_button {
      display: none;
    }

    .logo {
      align-self: flex-start;
    }

    /* hamburger for mobile view */
    /* .hamburger {
  
      width: 10px;
      height: 18px;
      cursor: pointer;
      background-color: #000;
      border: 1px solid red;
      padding: 0;
      z-index: 1000;
      
    } */
    
    .active {

position: absolute;
right: 0px;
top: 100px;

}

.times {
color: var(--primary-color);
font-size: 35px;
/* background-color: var(--secondary-color); */
padding: 5px 10px;
border-radius: 10px;
position: relative;
z-index: 5;
}

/* .times:visited {
  position: relative;
  top: -100px;
  left: 0;
} */


  .barparent {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
  }
  .bar {
      width: 100%;
      min-width: 25px;
      height: 1px;      
      transition: all 0.3s ease;
      border: 1.5px solid var(--primary-color);
    }
    
    .hamburger.open .bar:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }


    
    .hamburger.open .bar:nth-child(2) {
      opacity: 0;
    }
    
    .hamburger.open .bar:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
    
    .nav-menu {
      display: none;
      flex-direction: column;
      list-style-type: none;
      padding: 10px 20px 10px 10px;
      margin: 0;

    }
    
    .nav-menu.active {      
      /* margin-right: 10px; */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      /* gap: var(--gap-big); */
      padding: 0 30px;
      background-color: #fff;
      /* color: #fff; */
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      text-transform: capitalize;
      margin: 1rem .1rem;
      cursor:  pointer;
      padding: 0.5rem 1rem;
      border: 1px solid red;
      width: 100%;
      height: 80vh;
      /* position: relative; */
      z-index: 3000;
    
  

    }
    
    .nav-item {
      margin-bottom: 10px;
    }
    
    .nav-link {
      /* color: var(--primary-color); */
      border: 1px solid red;
      text-decoration: none;
      transition: color 0.3s ease;
    }
    
    .nav-link:hover {
      color: #ccc;
    }

    .scale-up-center {
      width: 80%;
      padding: 1rem 2rem 5rem 1rem;
    
      background: -moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 72, 1) 100%);
    
      background: -webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 72, 1) 100%);
    
     
      background: -o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 72, 1) 100%);
    
    
      background: -ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 72, 1) 100%);
    
    
      background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 72, 1) 100%);
    }
    
    /* .scale-up-center li {
      
    } */
    
    .scale-up-center button {
      padding: 0.5rem 1.5rem;
      color: #fff;
      background: #ff4820;
      font-family: var(--font-family);
      font-size: 18px;
      font-weight: 500;
      line-height: 25px;
      border-radius: 5px;
      border: 0;
      outline: none;
      cursor: pointer;
      border-radius: 5px;
    
    }
    
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 480px) and (max-width: 960px) {
    body {
      /* border: 5px solid blue; */
    }
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
 

    .navbar {
      padding: 0 3em;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 2;
  
    }

    .nav-menu, .hamburger {
      display: none;
    }
  }