.footer_bar {
    justify-content: space-between;
    align-items: center;
    padding: 2px 30px;
    background-color: var(--primary-color);

    color: #fff;
}

.footer_menu {
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.footer_logo {
    width: 215px;
    height: 107px;
     cursor: pointer;
}

.footer_login {
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    color: var(--primary-color);
    
}


@media only screen and (max-width: 479px) {



    .footer_bar {
      flex-direction: column;
      padding: 0;
      width: 100%;
      max-width: 470px;
      justify-content: center;
      align-items: flex-start;
      height: fit-content;



    }

    .footer_menu li {
      display: none;
    }

    .footer_login, login button {
      display: none;
    }

    .logo {
      align-self: flex-start;
    }
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 480px) and (max-width: 960px) {
    body {
      border: 5px solid blue;
    }
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
 

    .navbar {
      padding: 0 3em;

    }
  }