.footer_bar {
    justify-content: space-between;
    align-items: center;
    padding: 2px 30px;
    background-color: var(--primary-color);
    /* border: 1px solid #ff0000; */
    color: #fff;
}

.footer_menu {
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid blue; */
    gap: 15px;
}

.footer_logo {
    width: 215px;
    height: 107px;
    cursor: pointer;
}