.footer_bar {
    justify-content: space-between;
    align-items: center;
    padding: 2px 30px;
    background-color: var(--primary-color);

    color: #fff;
}

.footer_menu {
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.footer_logo {
    width: 215px;
    height: 107px;
     cursor: pointer;
}

.footer_login {
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    color: var(--primary-color);
    
}

